/* for small screens */
@media (max-width: 768px) {
  .registration-container {
    padding: 5% 10%;
  }
}

.registration-container {
  padding: 5% 20%;
}

.registration button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
}

.login-link {
  padding-top: 5px;
  font-size: 0.8rem;
}
