.infobar {
    display: flex;
    justify-content: space-between;
}

.infobar a {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    padding-right: 5px;
}

.info-message {
    background-color: rgb(209, 236, 241);
    border: 1px solid rgb(190, 229, 235);
}

.infobar-close-info {
    color: rgb(115, 197, 209);   
}
  
.error-message {
    background-color: rgb(248, 215, 218);
    border: 1px solid rgb(245, 198, 203);
}

.infobar-close-error {
    color: rgb(243, 89, 102);
}