.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-link {
  margin-right: 7px;
}

.navbar-logo i {
  font-size: 1.4em;
  color: #34b17d;
  margin-right: 3px;
  vertical-align: middle;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-logo span {
  text-transform: uppercase;
  font-weight: bold;
  color: #34b17d;
  vertical-align: middle;
}

.profile i {
  color: #34b17d;
  font-size: 1.6em;
}

.navbar-logo:hover i, 
.navbar-logo:hover span,
.profile i:hover {
  color: #149b4c;
}