.todo-control-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 5px;
}

.todo-control-panel:hover {
    opacity: 100;
}

.todo-control-panel .control-item {
    padding: 6px;
    margin-right: 7px;
    font-size: 16px;
}

.todo-control-panel .control-item:hover{ 
    background-color: #9dd8bf;
    border-radius: 15px;
}

.todo-control-panel .control-item  a { 
    color: black;
}
