body {
  background: #f5f5f5;
}

p {
  margin: 0;
  padding: 0;
}

.error {
  padding: 7px;
  margin-bottom: 7px;
  background: #ff9499;
}

.main {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */
  width: 500px;
}
  
.navbar {
}

.navbar-link {
  padding: 3px;
  margin-right: 5px;
}

#breadcrumbs {
}


.common-menu {
  background: #ffffff;
  padding: 7px;
  margin-bottom: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px; */
}

.common {
  padding: 7px;
  margin-bottom: 7px;
  background: #ffffff;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px; */
}

.todo {
}

.todo-title {
  font-weight: 500;
}

.todo-full {
  background: #3ac58b;
}

.todo-edit {
  background: #ffffff;
}

.common-input {
  padding-top: 3px;
  padding-bottom: 3px;
  /* margin-bottom: 3px; */
}

.text-input-div {
}

.text-input {
}

.text-input-label {
  padding-right: 5px;
}

.text-input-value {
}

.green-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.green-button:hover {
  background-color: #149b4c; /* Green */
}

.link {
  margin: 3px;
}

.info-message {
  background-color: rgb(209, 236, 241);
  border: 1px solid rgb(190, 229, 235);
}

.error-message {
  background-color: rgb(248, 215, 218);
  border: 1px solid rgb(245, 198, 203);
}