@media(min-width: 568px) {
  .main {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 550px !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  font-weight: 400;
  color: blue;
}

body {
  background: #f5f5f5;
  font-size: 17px;
  font-family: Helvetica, sans-serif !important;
}

label, input, textarea {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif !important;
}

input, textarea {
  padding: 2px;
  border-radius: 3px;
  border: solid 1px rgb(206, 206, 206);
}

textarea {  
  min-height: 30px;
  height: 100%;
}

h1,h2, h3 {
  padding-bottom: 1rem;
}

.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.error {
  padding: 7px;
  margin-bottom: 7px;
  background: #ff9499;
}

.main {
  width: 100%;
}

.common-menu {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 7px;
}

.common {
  padding: 10px;
  margin-bottom: 7px;
  background: #ffffff;
}

.todo {
}

.todo-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.todo-full {
  background: #3ac58b;
}

.todo-edit {
  background: #ffffff;
}

.common-input {
  padding-top: 3px;
  padding-bottom: 3px;
}

.green-button {
  
  display: inline-block;
  
  background-color: #34b17d;
  color: white;
  
  border: none;
  border-radius: 4px;
  padding: 5px 25px;
  margin-bottom: 0;
  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.green-button:hover {
  background-color: #149b4c;
}

.green-button:disabled {
  background-color: #759c86;
}

.link {
  margin: 3px;
}